## Refresher

In [1]:
# split on the colon

my_string = "a0:12:90:00:80:43"
 
print(my_string.split(':'))

['a0', '12', '90', '00', '80', '43']

In [2]:
# 

print(pow(5, 3))

125

In [3]:
print(bool("Python 3") and not(23 == 23))

False

In [4]:
result = 0
 
x = bool(result) or (7 + 2) == (3 ** 2)
 
print(x)

True

In [6]:
# slice ((10, 20, 30), []) off of the list

my_list = [22, 109, 'Apple', 11.2, 'Orange', 'Cherry', (10, 20, 30), [], False, 72, 'Kiwi', 0.0]
 
x = my_list[6:8]
 
print(x)

[(10, 20, 30), []]

In [7]:
# add a new element to the list

my_list = [10, 'x', 20.02, 'y', 30j, 'z', False]

my_list.append("Python 3")

print(my_list)

[10, 'x', 20.02, 'y', 30j, 'z', False, 'Python 3']

In [8]:
# remove the element 'x'

my_list = [10, 'x', 20.02, 'y', 30j, 'z', False]

my_list.remove('x')

print(my_list)

[10, 20.02, 'y', 30j, 'z', False]

In [9]:
# renove the element 7 from set1

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
 
set1.remove(7)
 
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [10]:
# return the elements of set1 that are not in set2

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
 
set2 = {2, 4, 6, 9}
 
print(set1.difference(set2))

{1, 3, 5, 7, 8, 10}

In [11]:
# return the commom elements of both sets

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 19}
 
set2 = {0, 2, 4, 6, 9, 11, 14}
 
x = set1.intersection(set2)
 
print(x)

{9, 2, 4, 6}

In [12]:
# extract the 2.6 element

my_tup = ("a", "h", 32, 2.6, None, False)

print(my_tup[3])

2.6

In [13]:
# extract the 'h' element using a negative index

my_tup = ("a", "h", 32, 2.6, None, False)
 
print(my_tup[-5])

h

In [14]:
# print out the tuple in reverse order using indexing

my_tup = ("a", "h", 32, 2.6, None, False)
 
print(my_tup[::-1])

(False, None, 2.6, 32, 'h', 'a')

In [15]:
# write a slice using positive index and a step that will extract the elements 'Love' and 'SQL'

my_tuple = (101, [], 10.1, 1.01, 'Love', 'Python', 'Java', 'C++', 'C#', 'SQL', 0, 0.1, (80,))
 
x = my_tuple[4::5]
 
print(x)

('Love', 'SQL')

In [16]:
# create a range starting at 5 up to, but not including 15, with a step of 3

print(list(range(5, 15, 3)))

[5, 8, 11, 14]

In [17]:
# create a range starting at -50 up to, but not includng -80, with a step of -10

print(list(range(-50, -80, -10)))

[-50, -60, -70]

In [18]:
# print out the index of 30 in range (10, 100, 10)

r1 = range(10, 100, 10)
 
print(r1.index(30))

2

In [20]:
# return a list made of the following elements [9, 10, 11]

r = range(3, 21)

my_slice = list(r)[6:9]

print(my_slice)

[9, 10, 11]

In [21]:
# add the value "Apple" to the key 5

my_dict = {1: "LG", 2: "HP", 3: "Samsung", 4: "Sony"}
 
my_dict[5] = 'Apple'
 
print(my_dict)

{1: 'LG', 2: 'HP', 3: 'Samsung', 4: 'Sony', 5: 'Apple'}

In [22]:
# remove the value 'HP' from the dictionary by specifying its' key

my_dict = {1: "LG", 2: "HP", 3: "Samsung", 4: "Sony"}

del my_dict[2]

print(my_dict)

{1: 'LG', 3: 'Samsung', 4: 'Sony'}

In [23]:
# verify the element with key 3 exists inside the dictionary or not

my_dict = {1: "LG", 2: "HP", 3: "Samsung", 4: "Sony"}

print(3 in my_dict)

True

In [24]:
# update the value of the RAM key to 256

my_dict = {'IOS': '12.4', 'Model': '2600', 'RAM': '128', 'Vendor': 'Cisco', 'Ports': '4'}

my_dict['RAM'] = '256'

print(my_dict['RAM'])

256

## a slightly Deeper Dive

In [26]:
vendors = ['Cisco', 'HP', 'Nortel', 'Avaya', 'Juniper']

In [27]:
len(vendors)

5

In [28]:
list(range(5))

[0, 1, 2, 3, 4]

In [29]:
for element_index in range(len(vendors)):
    print(vendors[element_index])

Cisco
HP
Nortel
Avaya
Juniper

In [30]:
for index, element in enumerate(vendors):
    print(index, element)

0 Cisco
1 HP
2 Nortel
3 Avaya
4 Juniper

In [31]:
for element in vendors: #iterating over a sequence and executing the code indented under the "for" clause for each element in the sequence
    print(element)
else: #the indented code below "else" will be executed when "for" has finished looping over the entire list
    print("The end of the list has been reached")

Cisco
HP
Nortel
Avaya
Juniper
The end of the list has been reached

In [33]:
#While / While Else loops - a while loop executes as long as an user-specified condition is evaluated as True; the "else" clause is optional
x = 1
 
while x <= 10:
    print(x)
    x += 1
else:
    print("Out of the while loop - x is now greater than 10")

1
2
3
4
5
6
7
8
9
10
Out of the while loop - x is now greater than 10

In [34]:
x = "Cisco"
 
if "i" in x: 
    if len(x) > 3: #if nesting
        print(x, len(x))

Cisco 5

In [35]:
list1 = [4, 5, 6]
list2 = [10, 20, 30]
for i in list1:
    for j in list2: #for nesting
        print(i*j)

40
80
120
50
100
150
60
120
180

In [36]:
x = 1
while x <= 10:
    z = 5
    x += 1
    while z <= 10:  #while nesting
        print(z)
        z += 1

5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10
5
6
7
8
9
10

In [37]:
for number in range(10):
    if 5 <= number <= 9: #mixed nesting
        print(number)

5
6
7
8
9

In [38]:
#Try / Except / Else / Finally - handling an exception when it occurs and telling Python to keep executing the rest of the lines of code in the program
try:
    print(4/0) #in the "try" clause you insert the code that you think might generate an exception at some point
except ZeroDivisionError:
    print("Division Error!") #specifying what exception types Python should expect as a consequence of running the code inside the "try" block and how to handle them
else:
    print("No exceptions raised by the try block!") #executed if the code inside the "try" block raises NO exceptions
finally:
    print("I don't care if an exception was raised or not!") #executed whether the code inside the "try" block raises an exception or not

Division Error!
I don't care if an exception was raised or not!

In [40]:
#Functions - Basics
def my_first_function(x, y): #defining a function that takes two parameters
    sum = x + y
    return sum #this statement is used to exit a function and return something when the function is called
    
my_first_function(1, 2) #calling a function and passing two POSITIONAL arguments, the values of 1 and 2; result is 3
 
my_first_function(x = 1, y = 2) #calling a function and passing two KEYWORD arguments, the values of 1 and 2; result is 3
 
my_first_function(1, y = 2) #calling a function and passing mixed types of arguments, the values of 1 and 2; result is 3; rule: positional arguments always before keyword arguments!
 
def my_first_function(x, y, z = 3): #specifying a default parameter value in a function definition
 
def my_first_function(x, *args) #specifying a variable number of positional parameters in a function definition; args is a tuple
 
def my_first_function(x, **kwargs) #specifying a variable number of keyword parameters in a function definition; kwargs is a dictionary
 
global my_var #"importing" a variable in the global namespace to the local namespace of a function

IndentationError: expected an indented block (<ipython-input-40-993aa7fe6cc5>, line 14)

In [41]:
# write a function that prints out the string, I am becoming a Python developer!"

def my_func():
    print("I am becoming a Python developer!")
    
my_func()

I am becoming a Python developer!

In [42]:
# Write a function that takes two parameters and returns the result of raising the first parameter
# to the power given by the second and adds 500 to the result

def myfunc(x, y):
    return(x ** y) + 500

    
print(myfunc(10, 3))

1500

In [ ]:
#Regular Expressions - the "re.match" and "re.search" methods
a = re.match(pattern, string, optional flags) #general match syntax; "a" is called a match object if the pattern is found in the string, otherwise "a" will be None
 
mystr = "You can learn any programming language, whether it is Python2, Python3, Perl, Java, javascript or PHP."
 
import re #importing the regular expressions module
 
a = re.match("You", mystr) #checking if the characters "You" are indeed at the beginning of the string
 
a.group() #result is 'You'; Python returns the match it found in the string according to the pattern we provided
 
a = re.match("you", mystr, re.I) #re.I is a flag that ignores the case of the matched characters
 
a = re.search(pattern, string, optional flags) #general search syntax; searching for a pattern throughout the entire string; will return a match object if the pattern is found and None if it's not found
 
arp = "22.22.22.1      0         b4:a9:5a:ff:c8:45 VLAN#222             L"
 
a = re.search(r"(.+?) +(\d) +(.+?)\s{2,}(\w)*", arp) #result is '22.22.22.1'; 'r' means the pattern should be treated like a raw string; any pair of parentheses indicates the start and the end of a group; if a match is found for the pattern inside the parentheses, then the contents of that group can be extracted with the group() method applied to the match object; in regex syntax, a dot represents any character, except a new line character; the plus sign means that the previous expression, which in our case is just a dot, may repeat one or more times; the question mark matching as few characters as possible
 
a.groups() #returns all matches found in a given string, in the form of a tuple, where each match is an element of that tuple
('22.22.22.1', '0', 'b4:a9:5a:ff:c8:45 VLAN#222', 'L')
 
#Regular Expressions - the "re.findall" and "re.sub" methods
a = re.findall(r"\d\d\.\d{2}\.[0-9][0-9]\.[0-9]{1,3}", arp) #returns a list where each element is a pattern that was matched inside the target string
['22.22.22.1'] #result of the above operation - a list with only one element, the IP address matched by the regex
 
b = re.sub(r"\d", "7", arp) #replaces all occurrences of the specified pattern in the target string with a string you enter as an argument
'77.77.77.7      7         b7:a7:7a:ff:c7:77 VLAN#777             L   77.77.77.77' #result of the above operation