## Refresher

In [1]:
# split on the colon

my_string = "a0:12:90:00:80:43"
 
print(my_string.split(':'))

['a0', '12', '90', '00', '80', '43']

In [2]:
# 

print(pow(5, 3))

125

In [3]:
print(bool("Python 3") and not(23 == 23))

False

In [4]:
result = 0
 
x = bool(result) or (7 + 2) == (3 ** 2)
 
print(x)

True

In [6]:
# slice ((10, 20, 30), []) off of the list

my_list = [22, 109, 'Apple', 11.2, 'Orange', 'Cherry', (10, 20, 30), [], False, 72, 'Kiwi', 0.0]
 
x = my_list[6:8]
 
print(x)

[(10, 20, 30), []]

In [7]:
# add a new element to the list

my_list = [10, 'x', 20.02, 'y', 30j, 'z', False]

my_list.append("Python 3")

print(my_list)

[10, 'x', 20.02, 'y', 30j, 'z', False, 'Python 3']

In [8]:
# remove the element 'x'

my_list = [10, 'x', 20.02, 'y', 30j, 'z', False]

my_list.remove('x')

print(my_list)

[10, 20.02, 'y', 30j, 'z', False]

In [9]:
# renove the element 7 from set1

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
 
set1.remove(7)
 
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [10]:
# return the elements of set1 that are not in set2

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
 
set2 = {2, 4, 6, 9}
 
print(set1.difference(set2))

{1, 3, 5, 7, 8, 10}

In [11]:
# return the commom elements of both sets

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 19}
 
set2 = {0, 2, 4, 6, 9, 11, 14}
 
x = set1.intersection(set2)
 
print(x)

{9, 2, 4, 6}

In [12]:
# extract the 2.6 element

my_tup = ("a", "h", 32, 2.6, None, False)

print(my_tup[3])

2.6

In [13]:
# extract the 'h' element using a negative index

my_tup = ("a", "h", 32, 2.6, None, False)
 
print(my_tup[-5])

h

In [14]:
# print out the tuple in reverse order using indexing

my_tup = ("a", "h", 32, 2.6, None, False)
 
print(my_tup[::-1])

(False, None, 2.6, 32, 'h', 'a')

In [15]:
# write a slice using positive index and a step that will extract the elements 'Love' and 'SQL'

my_tuple = (101, [], 10.1, 1.01, 'Love', 'Python', 'Java', 'C++', 'C#', 'SQL', 0, 0.1, (80,))
 
x = my_tuple[4::5]
 
print(x)

('Love', 'SQL')

In [16]:
# create a range starting at 5 up to, but not including 15, with a step of 3

print(list(range(5, 15, 3)))

[5, 8, 11, 14]

In [17]:
# create a range starting at -50 up to, but not includng -80, with a step of -10

print(list(range(-50, -80, -10)))

[-50, -60, -70]

In [18]:
# print out the index of 30 in range (10, 100, 10)

r1 = range(10, 100, 10)
 
print(r1.index(30))

2

In [20]:
# return a list made of the following elements [9, 10, 11]

r = range(3, 21)

my_slice = list(r)[6:9]

print(my_slice)

[9, 10, 11]

In [21]:
# add the value "Apple" to the key 5

my_dict = {1: "LG", 2: "HP", 3: "Samsung", 4: "Sony"}
 
my_dict[5] = 'Apple'
 
print(my_dict)

{1: 'LG', 2: 'HP', 3: 'Samsung', 4: 'Sony', 5: 'Apple'}

In [22]:
# remove the value 'HP' from the dictionary by specifying its' key

my_dict = {1: "LG", 2: "HP", 3: "Samsung", 4: "Sony"}

del my_dict[2]

print(my_dict)

{1: 'LG', 3: 'Samsung', 4: 'Sony'}

In [23]:
# verify the element with key 3 exists inside the dictionary or not

my_dict = {1: "LG", 2: "HP", 3: "Samsung", 4: "Sony"}

print(3 in my_dict)

True

In [24]:
# update the value of the RAM key to 256

my_dict = {'IOS': '12.4', 'Model': '2600', 'RAM': '128', 'Vendor': 'Cisco', 'Ports': '4'}

my_dict['RAM'] = '256'

print(my_dict['RAM'])

256